<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <img src="/pictures/logo3.jpg" alt="imagelogo">
    <div class="container">
      <a class="navbar-brand" href="#">Better Canada Computers</a>
      <div class="collapse navbar-collapse">
        <div class="navbar-nav">
          <a class="nav-link active" href="/">Accueil</a>
          <a class="nav-link" href="/products">Vendeur</a>
          <a class="nav-link" href="/categories">Categories</a>
          <a class="nav-link" href="/orders">Orders</a>
        </div>
      </div>
    </div>
    <div class="navbar"> 
    <i class="bi bi-cart-plus-fill" style="font-size: 2rem; color: rgb(249, 250, 252);";></i>
    <br>
    <i class="bi bi-person-add" style="font-size: 2rem; color: rgb(249, 250, 252);"></i>
    <br>
    <i class="bi bi-box-arrow-in-right" style="font-size: 2rem; color: rgb(249, 250, 252);"></i>
    <br>
</div>
    <button type="button" class="btn btn-light">Vendeur</button>
</nav>
